<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.mfh.crowd.funding.handler,com.mfh.crowd.funding.exception"/>
    <!-- 配置SpringMVC标配：注解驱动 -->
    <mvc:annotation-driven/>
    <!-- 配置视图解析器 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--
        @RequestMapping("/admin/to/login/page")
        public String toLogin() {
            return "admin-login";
        }
    -->
    <!--同等于上面代码的写法-->
    <mvc:view-controller path="/admin/to/login/page.html" view-name="admin-login"/>

    <mvc:view-controller path="/admin/to/main/page.html" view-name="admin-main"/>

    <mvc:view-controller path="/admin/to/add/page.html" view-name="admin-add"/>

    <!--配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--只要根 springMvc 有关，全部被拦截-->
            <mvc:mapping path="/**"/>
            <!-- 设置要拦截的路径中的例外，也就是不拦截的路径 -->
            <mvc:exclude-mapping path="/admin/to/login/page.html"/>
            <mvc:exclude-mapping path="/admin/do/login.html"/>
            <mvc:exclude-mapping path="/index.html"/>
            <!--拦截器的 bean-->
            <bean class="com.mfh.crowd.funding.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>
